@import "partials/variables";
@import "partials/shared-styles";

.smiley {
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 100px;
    opacity: 0.5;
    box-shadow: 0 10px 120px rgba($red, 0.9), 0 5px 20px rgba($red, 0.4), 0 2px 10px rgba($red, 0.7);
    will-change: transform;

    @for $i from 0 through $elements {
        &:nth-child(#{$i}) {
            background: adjust-hue($red, $i * (365deg/$elements));
        }
    }
}
